<ion-card class="stock-detail-cmp">
    <ion-item>Detail</ion-item>
    <ion-row text-wrap>
        <ion-col>Stock Exchange</ion-col>
        <ion-col>{{detail.StockExchange}}</ion-col>
        <ion-col>Currency</ion-col>
        <ion-col>{{detail.Currency}}</ion-col>    
    </ion-row>
    <ion-row text-wrap>
        <ion-col>Ask</ion-col>
        <ion-col>{{detail.Ask}}</ion-col>
        <ion-col>Bid</ion-col>
        <ion-col>{{detail.Bid}}</ion-col>    
    </ion-row>
    <ion-row text-wrap>
        <ion-col>Days High</ion-col>
        <ion-col>{{detail.DaysHigh}}</ion-col>
        <ion-col>Days Low</ion-col>
        <ion-col>{{detail.DaysLow}}</ion-col>    
    </ion-row>
    <ion-row text-wrap>
        <ion-col>Year High</ion-col>
        <ion-col>{{detail.YearHigh}}</ion-col>
        <ion-col>Year Low</ion-col>
        <ion-col>{{detail.YearLow}}</ion-col>    
    </ion-row>
    <ion-row text-wrap>
        <ion-col>Volume</ion-col>
        <ion-col>{{detail.Volume}}</ion-col>
        <ion-col>Average Daily Volume</ion-col>
        <ion-col>{{detail.AverageDailyVolume}}</ion-col>    
    </ion-row>
</ion-card>